<div class="container">
    <div>
        <h3>User</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>sub</td>
                    <td>{{claims?.sub}}</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>{{claims?.name}}</td>
                </tr>
                <tr>
                    <td>locale</td>
                    <td>{{claims?.locale}}</td>
                </tr>
                <tr>
                    <td>email</td>
                    <td>{{claims?.email}}</td>
                </tr>
                <tr>
                    <td>preferred_username</td>
                    <td>{{claims?.preferred_username}}</td>
                </tr>
                <tr>
                    <td>given_name</td>
                    <td>{{claims?.given_name}}</td>
                </tr>
                <tr>
                    <td>middle_name</td>
                    <td>{{claims?.middle_name}}</td>
                </tr>
                <tr>
                    <td>family_name</td>
                    <td>{{claims?.family_name}}</td>
                </tr>
                <tr>
                    <td>zoneinfo</td>
                    <td>{{claims?.zoneinfo}}</td>
                </tr>
                <tr>
                    <td>updated_at</td>
                    <td>{{claims?.updated_at}}</td>
                </tr>
                <tr>
                    <td>email_verified</td>
                    <td>{{claims?.email_verified}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>